name: "Testing Workflow"

on: [push]

env:
    WORKFLOW_VAR: "Ik ben een globale workflow variabele"

jobs:
    print-job:
        runs-on: ubuntu-latest
        env:
            JOB_VAR: "Ik ben een lokale job variabele"
        steps:
            - name: "Toon alle variabelen"
              run: |
                  echo "Stap 1. Variabelen worden getoond"
                  echo "1. Dit is een hardcoded string."
                  echo "2. Globale variabele: ${{ env.WORKFLOW_VAR }}"
                  echo "3. Lokale variabele: ${{ env.JOB_VAR }}"
                  echo "4. Standaard variabele (Job ID): $GITHUB_JOB"

    test-job-ava:
        runs-on: ubuntu-latest
        needs: print-job

        container:
            image: node:25.2.1-alpine3.21

        steps:
            - name: 'Code uitchecken'
              uses: actions/checkout@v4

            - name: 'Afhankelijkheden installeren'
              run: npm install

            - name: 'Unittests uitvoeren met Ava'
              run: npx ava

    test-job-pytest:
        runs-on: ubuntu-latest
        needs: print-job

        # Specificeert de Docker container waarin de stappen worden uitgevoerd
        container:
            image: python:3.15-rc-alpine3.22
            # image: paketobuildpacks/pip:0.24.8

        steps:
          - name: 'Checkout code'
            uses: actions/checkout@v4

          - name: 'Install dependencies'
            run: pip install -r requirements.txt

          - name: 'Run tests with pytest'
            run: pytest tests/test_python.py

    test-job-composer:
        runs-on: ubuntu-latest
        needs: print-job

        container:
            image: composer:2.9.2

        steps:
          - name: 'Code uitchecken'
            uses: actions/checkout@v4

          - name: 'Afhankelijkheden installeren'
            run: composer install

          - name: 'Unittests uitvoeren met PHPUnit'
            run: ./vendor/bin/phpunit tests

    build-job:
        runs-on: ubuntu-latest
        needs: [test-job-composer, test-job-ava, test-job-pytest]
        steps:
            - name: 'Simuleer een build'
              run: echo "Stap 3. De applicatie wordt gebouwd."

    deploy-job:
        runs-on: ubuntu-latest
        needs: build-job
        steps:
            - name: 'Simuleer een deployment'
              run: echo "Stap 4. De applicatie wordt gedeployed!"